body {
    font-family: 'Roboto', sans-serif;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.navbar,
.brand,
a,
.td-name,
td {
    font-family: 'Roboto', sans-serif;
}

.card-tarefa {
    background-color: #fff;
    padding: 15px 10px;
    /* border-left: 2px solid #d04ed2; */
    border-radius: 2px;
    margin-bottom: 7px;
}

.fundo-campos-busca {
    background-color: #fff;
    padding: 15px 15px 0px 15px;
    border-radius: 3px;
    margin-bottom: 35px;
    margin-top: 15px;
}

.btn.btn-icon,
.navbar .navbar-nav>li>a.btn.btn-icon {
    padding: 10px;
}

#tab-persona h3 {
    font-size: 1.3em;
    color: #6d82d0;
}

#tab-persona p {
    font-size: 1.1em;
}

.nav-tabs-navigation {
    text-align: left;
    margin-bottom: 0px;
}

.nav-tabs-navigation .nav>li>a {
    font-size: 1.3em;
}

h4.title {
    margin-top: 0;
}

.btn-fixed {
    position: absolute;
    top: -10px;
    right: 30px;
    font-size: 2em;
    color: #fff;
}

.btn-fixed:hover {
    background-color: #f1ae22;
    color: rgba(255, 255, 255, 0.85);
    border-color: #f1ae22;
}

.progress-stage {
    width: 100%;
    position: relative;
    text-align: center;
}

.progress-stage .btn-default {
    padding: 5px 45px;
}

.progress-stage .btn-default:active,
.progress-stage .btn-default:focus,
.progress-stage .btn-default:hover {
    background-color: initial !important;
    color: initial !important;
    cursor: initial !important;
}

.progress-stage .btn-default.active:active,
.progress-stage .btn-default.active:focus,
.progress-stage .btn-default.active:hover {
    background-color: #66615B !important;
    color: #fff !important;
    cursor: initial !important;
}

.modal-projetos {
    margin: 15px 0px 35px 0px;
}

.modal-projetos li {
    list-style: none;
    text-align: left;
    border-left: 2px solid purple;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.75s, color 0.5s;
    font-size: 1.4em;
}

.modal-projetos li:hover {
    background-color: #F3F2EE;
    cursor: pointer;
}

.note-btn-group .note-btn-group button {
    padding: 2px 7px !important;
}

.foto-persona-radio {
    padding-bottom: 20px;
}

.foto-persona-radio img {
    width: 100%;
}

.swal2-modal {
    overflow-x: initial;
    overflow-y: initial;
}

.swal2-modal .swal2-title {
    margin-bottom: 30px;
    line-height: 1;
}

.team-members .avatar {
    width: 65px;
}

.card-vincula-membro .btn-fill {
    width: 100%;
}

.pane-pauta {
    text-align: left;
    border-left: 1px solid #F1EAE0;
    padding: 10px 20px;
    border-right: 1px solid #F1EAE0;
    border-bottom: 1px solid #F1EAE0;
    word-wrap: break-word;
}

.pane-pauta h1 {
    font-size: 28px;
    text-align: left;
    color: #523877;
}

.pane-pauta h5 {
    font-size: 14px;
    font-weight: 600;
    color: #523877;
}

.pane-pauta hr {
    border-color: #ebebeb;
}

.pane-pauta p {
    margin: 0 0 10px;
    font-size: 13px;
}

.persona-pauta {
    border: 1px solid #f1eae0;
    padding: 30px 15px;
    border-bottom-width: 2px;
    border-bottom-color: #cfd9db;
}

.persona-pauta strong {
    color: #523877;
}

.persona-pauta h4 {
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 400;
    color: #523877;
}

.persona-pauta p {
    margin: 0;
}

.pane-pauta ol {
    padding-left: 15px;
}

.pane-pauta span {
    font-weight: bold;
    font-size: 12px;
}

.note-editor.note-frame.fullscreen {
    margin: 0px;
}

.menu-fechado {
    width: 0px !important;
}

.logo-normal img {
    width: 125px;
    padding-top: 10px;
}

.menu-engrenagem li.sub-title {
    padding: 10px 15px;
    color: #94908c;
}

.menu-engrenagem hr {
    margin: 0px;
}

.block {
    display: block !important;
}

.no-border {
    border-radius: 0px !important;
}

.lista-projetos img {
    width: 180px;
    margin: 0 auto;
    display: table;
    margin-top: 30px;
}

.lista-projetos h1 {
    text-align: center;
    font-size: 2.3em;
    color: #333;
}

.lista-projetos p {
    font-size: 1em;
    text-align: center;
    margin: 20px 0px 35px 0px;
}

.lista-projetos ul {
    list-style-type: none;
    padding: 0;
    padding: 0px 50px;
}

.lista-projetos li {
    padding: 15px;
    border-bottom: 1px solid;
    font-size: 1.3em;
    border-radius: 2px;
    cursor: pointer;
    border-color: #F1EAE0;
}

.lista-projetos a {
    color: #66615b;
}

.lista-projetos li i {
    float: right;
    margin-top: 5px;
}

.lista-projetos li.active,
.lista-projetos li:hover {
    background-color: #ec268f;
    color: white;
}

.lista-projetos li.active a,
.lista-projetos li:hover a {
    color: #fff;
}

.card-membro i {
    font-size: 1.5em;
    color: #eb5e28;
}

.card-membro i.trash {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: #e8607f;
}

.card-chat input.textarea {
    width: calc(100% - 53px) !important;
}

.card-chat .btn {
    padding: 5px 0;
    width: 100%;
}

.card-chat .send-message .send-button {
    width: 45px;
}

.card-chat .ti-trash {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.fill-up {
    width: 100%;
}

.margem {
    margin-bottom: 15px;
}

.min-height {
    min-height: 500px;
}

div.dataTables_wrapper div.dataTables_length select {
    width: 80px;
    height: 35px;
    display: inline-block;
}

.card-resumo-tarefas .card-content {
    padding: 0 !important;
}

.card-resumo-tarefas ol .count {
    width: 40px;
    height: 35px;
    padding-top: 8px;
    text-align: center;
    background-color: #cecece;
    border-radius: 43px;
    color: #66615b;
    display: inline-block;
    margin-right: 10px;
}

.card-resumo-tarefas ol li {
    margin-bottom: 10px;
    padding: 15px 15px 10px 15px;
}

.card-resumo-tarefas ol li.active {
    background-color: rgba(152, 41, 189, 0.15);
}

.card-resumo-tarefas ol .text {
    display: inline-block;
}

.card-resumo-tarefas small {
    display: block;
}

.card-resumo-tarefasli {
    margin-bottom: 10px;
}

.modal-backdrop {
    z-index: 0 !important;
}

.modal.link-dialog.in div.checkbox {
    display: none !important;
}

#conteudo .form-control,
#ajuste .form-control {
    margin-bottom: 10px;
}

.numbers span {
    display: block;
    font-size: 12px;
}

.card-chat .msg p {
    font-size: 13px;
    word-wrap: break-word;
}

.card-chat .other .msg {
    border-radius: 5px;
}

.card-chat i.ti-calendar {
    font-size: 12px;
}


/* Ultimas Correcoes */

.sidebar .logo-normal {
    font-size: 20px;
    font-weight: 600;
}

.sidebar:after,
.sidebar:before,
.sidebar[data-background-color="white"]:after,
.sidebar[data-background-color="white"]:before,
.off-canvas-sidebar:after,
.off-canvas-sidebar:before,
.off-canvas-sidebar[data-background-color="white"]:after,
.off-canvas-sidebar[data-background-color="white"]:before {
    background-color: #af87d7;
}

.sidebar .nav li:not(.active)>a,
.sidebar[data-background-color="white"] .nav li:not(.active)>a,
.off-canvas-sidebar .nav li:not(.active)>a,
.off-canvas-sidebar[data-background-color="white"] .nav li:not(.active)>a {
    color: #ffffff;
    opacity: 1;
}

.sidebar .logo .simple-text,
.sidebar[data-background-color="white"] .logo .simple-text,
.off-canvas-sidebar .logo .simple-text,
.off-canvas-sidebar[data-background-color="white"] .logo .simple-text {
    color: #ffffff;
}

.sidebar[data-active-color="danger"] .nav li.active>a,
.off-canvas-sidebar[data-active-color="danger"] .nav li.active>a {
    color: #8b66bc;
    opacity: 1;
}

.sidebar .user .info a,
.sidebar[data-background-color="white"] .user .info a,
.off-canvas-sidebar .user .info a,
.off-canvas-sidebar[data-background-color="white"] .user .info a {
    color: #ffffff;
    opacity: 1;
}

.sidebar .user .photo,
.sidebar[data-background-color="white"] .user .photo,
.off-canvas-sidebar .user .photo,
.off-canvas-sidebar[data-background-color="white"] .user .photo {
    border: 2px solid #c3a8de;
}

.sidebar .sidebar-wrapper>.nav i,
.off-canvas-sidebar .sidebar-wrapper>.nav i {
    font-size: 24px;
}

.fundo-roxo-padrao {
    background-color: #8b66bc !important;
    border-color: #8b66bc !important;
    color: #fff;
}

.cor-roxo-padrao {
    color: #8b66bc !important;
}

.fundo-roxo-escuro {
    background-color: #523877 !important;
    border-color: #523877 !important;
    color: #fff;
}

.cor-roxo-escuro {
    color: #523877 !important;
    font-weight: 500;
}

.fundo-rosa {
    background-color: #ec268f !important;
    border-color: #ec268f !important;
    color: #fff;
}

.cor-rosa {
    color: #ec268f !important;
}

.azul-um {
    background-color: #bff3f2 !important;
    border-color: #bff3f2 !important;
    color: #fff;
}

.azul-dois {
    background-color: #bff2f1 !important;
    border-color: #bff2f1 !important;
    color: #fff;
}

.azul-tres {
    background-color: #9aedeb !important;
    border-color: #9aedeb !important;
    color: #fff;
}

.azul-quatro {
    background-color: #70e6e3 !important;
    border-color: #70e6e3 !important;
    color: #fff;
}

.azul-cinco {
    background-color: #3dd3d0 !important;
    border-color: #3dd3d0 !important;
    color: #fff;
}

.azul-seis {
    background-color: #49c7c4 !important;
    border-color: #49c7c4 !important;
    color: #fff;
}

.cor-azul-quatro {
    color: #3dd3d0 !important;
}

.card .icon-big i {
    font-size: 42px;
}

h4.title i {
    font-size: 30px;
    float: left;
    margin-top: -2px;
    margin-right: 5px;
}

.btn {
    text-transform: uppercase;
}

.card-tarefa .badge {
    background-color: #d3d3d3;
    font-weight: 500;
    color: black;
    padding: 3px 8px;
}

.card-tarefa p {
    margin: 0;
    line-height: 1.1em;
}

.card-vincula-membro .form-group {
    float: left;
    margin-left: 15px;
    width: 85%;
    margin-bottom: 27px;
}

.card-vincula-membro .form-group label {
    margin-bottom: 0px;
}

.card-vincula-membro .material-icons {
    font-size: 42px;
    float: left;
    margin-top: 16px;
    color: #523877;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus,
.btn:active:hover,
.open>.btn.dropdown-toggle,
.open>.btn.dropdown-toggle:focus,
.open>.btn.dropdown-toggle:hover,
.navbar .navbar-nav>li>a.btn:hover,
.navbar .navbar-nav>li>a.btn:focus,
.navbar .navbar-nav>li>a.btn:active,
.navbar .navbar-nav>li>a.btn.active,
.navbar .navbar-nav>li>a.btn:active:focus,
.navbar .navbar-nav>li>a.btn:active:hover,
.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle,
.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle:focus,
.open>.navbar .navbar-nav>li>a.btn.dropdown-toggle:hover {
    background-color: #ec268f;
    border-color: #ec268f;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #ec268f;
}

.dropdown-menu>li:last-child>a {
    border-radius: 0px;
}

.card-vincula-membro .bs-placeholder {
    text-transform: inherit !important;
}

.card-vincula-membro {
    margin-bottom: 0;
    padding: 10px 0px 5px 0px;
}

.card-vincula-membro form {
    margin-bottom: 0;
}

.navbar .navbar-nav>li>a.btn.btn-success.btn-fill,
.btn-success.btn-fill {
    background-color: #ec268f !important;
    border-color: #ec268f !important;
}

.navbar .navbar-nav>li>a.btn.btn-danger.btn-fill,
.btn-danger.btn-fill {
    background-color: #523877 !important;
    border-color: #523877 !important;
}

.swal2-icon.swal2-warning .body {
    background-color: #ec268f !important;
}

.swal2-icon.swal2-warning .dot {
    background-color: #ec268f !important;
}

@keyframes pulse-warning {
    0% {
        border-color: #ec9dc7;
    }
    100% {
        border-color: #ec268f;
    }
}

.textosProgressBar {
    float: left;
    margin-bottom: 10px;
    padding: 0;
    width: 100%;
}

.textosProgressBar li {
    list-style-type: none;
    float: left;
    width: 12%;
    text-align: center;
    color: #4d4d4d;
    font-size: 14px;
    /* height: 55px; */
    padding-top: 5px;
}

.textosProgressBar li.data {
    color: #ec268f;
    font-size: 12px;
    line-height: 1.1;
}

.card-conteudo .nav-tabs>li {
    float: left;
    margin-bottom: -1px;
    width: 25%;
}

.nav-tabs li a i {
    float: left;
    margin-right: 5px;
}

.nav-tabs>li.active>a {
    color: #8b66bc !important;
}

.pane-pauta .titulo-pauta {
    color: #593579;
    font-weight: bold;
    line-height: 1.1;
    margin: 10px 0px 20px 0px;
}

.pane-pauta .img-capa {
    max-width: 100%;
    margin-bottom: 20px;
}

.card-chat .self .msg {
    border: 2px solid #dbbbeb;
    background-color: #dbbbeb;
}

.card-chat .self .avatar:after {
    border: 8px solid #dbbbeb;
    border-right-color: transparent;
    border-top-color: transparent;
}

.card-chat .other .msg {
    border: 2px solid #dbbbeb;
    background-color: #dbbbeb;
}

.card-chat .other .msg:before {
    border: 8px solid #dbbbeb;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.cor-rosa-claro {
    color: #e8607f;
}

.fundo-rosa-claro {
    background-color: #e8607f !important;
    border-color: #e8607f !important;
    color: #fff;
}

.send-message .form-group {
    margin-top: 5px;
}

.card-acoes form {
    margin: 0;
}

.full-page[data-image]:after,
.full-page.has-image:after {
    opacity: 0;
}

.login-page .btn {
    width: 50%;
}

.login-page .card .card-content {
    padding: 30px 15px 20px 15px;
}

.login-page .card .card-footer {
    padding: 0 15px 30px;
}

.login-page>.content,
.lock-page>.content {
    padding-top: 15vh;
}

.login-page img {
    width: 200px;
    margin: 0 auto;
    display: table;
    margin-bottom: 15px;
}

.lista-projetos {
    padding: 0px 30px;
}

.lista-projetos .select2-container--default .select2-selection--single .select2-selection__rendered {
    background-color: #ffffff;
}

.card-membro .avatar {
    width: 95px;
}

.card-membro .avatar img {
    width: 60px;
    margin: 0 auto;
}

.card-membro .stats {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card-membro h5 {
    margin-bottom: 0;
}

.card-membro p {
    line-height: 1;
    font-size: 1em;
}

.card-membro i.mail {
    float: left;
    margin-right: 5px;
}

.card-membro .card-footer hr {
    margin-top: 0px;
}

.empty-title {
    margin: 30px !important;
}

.no-padding {
    padding: 0 !important;
}

.btn.btn-sm {
    font-size: 12px !important;
}

.btn {
    font-size: 14px !important;
}

[class*="material-"]{
    vertical-align: middle;
    line-height: 1;
}

.swal2-container .radio label::before {
    top: 0;
}

.swal2-container .radio label::before,
.swal2-container .radio label::after {
    top: 0;
}

.swal2-content .material-icons {
    line-height: 1;
    vertical-align: middle;
}

.swal2-content .radio {
    padding-left: 20px;
    margin-bottom: 12px;
    width: auto;
    display: table;
    margin: 10px auto;
    text-align: left;
}

.sidebar .logo,
.off-canvas-sidebar .logo {
    padding: 5px 0px 18px 0px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:not(.btn):hover,
.navbar-default .navbar-nav>.active>a:not(.btn):focus,
.navbar-default .navbar-nav>li>a:not(.btn):hover,
.navbar-default .navbar-nav>li>a:not(.btn):focus {
    color: #ec268f;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
    background-color: #ec268f;
}

.pagination>li>a:hover,
.pagination>li>a:focus,
.pagination>li>a:active,
.pagination>li.active>a,
.pagination>li.active>span,
.pagination>li.active>a:hover,
.pagination>li.active>span:hover,
.pagination>li.active>a:focus,
.pagination>li.active>span:focus {
    background-color: #523877;
    border-color: #523877;
    color: white;
}

.pagination>li>a,
.pagination>li>span {
    border: 2px solid #523877;
    color: #523877;
}

.has-error .form-control,
.form-control.error {
    background-color: #e6a1c6;
    color: #595858;
    border-color: #ec268f;
}

.has-error .form-control:focus,
.form-control.error:focus {
    background-color: #FFFFFF;
    border-color: #ec268f;
}

label.error {
    color: #ec268f;
    font-weight: 300;
    font-size: 0.8em;
    position: absolute;
}
#espacoFotos p.text-center{
    cursor: pointer;
}
.relative{
    position: relative !important;
}