.card-tarefa{
    background-color: #fff;
    padding: 15px 10px;
    border-left: 2px solid #d04ed2;
    border-radius: 2px;
    margin-bottom: 7px
}
.fundo-campos-busca{
    background-color: #fff;
    padding: 15px 15px 0px 15px;
    border-radius: 3px;
    margin-bottom: 35px;
    margin-top: 15px;
}
.btn.btn-icon, .navbar .navbar-nav > li > a.btn.btn-icon{
    padding: 10px;
}
#tab-persona h3{
    font-size: 1.3em;
    color: #6d82d0;
}
#tab-persona p{
    font-size: 1.1em;
}
.nav-tabs-navigation{
    text-align: left;
    margin-bottom: 0px;
}
.nav-tabs-navigation .nav > li > a{
    font-size: 1.3em;
}
h4.title{
    margin-top: 0;
}
.btn-fixed{
    position: fixed;
    bottom: 5%;
    right: 3%;
    font-size: 2em;
    color: #fff;
    background: #f3bb45;
    border-color: #f3bb45;
    padding: 15px !important;
    border-radius: 100% !important;
}
.btn-fixed:hover{
    background-color: #f1ae22;
    color: rgba(255, 255, 255, 0.85);
    border-color: #f1ae22;
}
.progress-stage {
    width: 100%;
    position: relative;
    text-align: center;
}
.progress-stage .btn-default{
    padding: 5px 45px;
}
.progress-stage .btn-default:active,
.progress-stage .btn-default:focus,
.progress-stage .btn-default:hover{
    background-color: initial !important;
    color: initial !important;
    cursor: initial !important;
}
.progress-stage .btn-default.active:active,
.progress-stage .btn-default.active:focus,
.progress-stage .btn-default.active:hover{
    background-color: #66615B !important;
    color: #fff !important;
    cursor: initial !important;
}

.modal-projetos{
    margin: 15px 0px 35px 0px;
}
.modal-projetos li{
    list-style: none;
    text-align: left;
    border-left: 2px solid purple;
    padding: 10px;
    margin-bottom: 10px;
    transition: background-color 0.75s, color 0.5s;
    font-size: 1.4em;
}
.modal-projetos li:hover{
    background-color: #F3F2EE;
    cursor: pointer;
}
.note-btn-group .note-btn-group button{
    padding: 2px 7px !important;
}
.foto-persona-radio{
    padding-bottom: 20px;
}
.foto-persona-radio img{
    width: 100%;
}
.swal2-modal {
    overflow-x: initial;
    overflow-y: initial;
}
.swal2-modal .swal2-title{
    margin-bottom: 30px;
}
.team-members .avatar{
    width: 65px;
}
.card-vincula-membro .btn-fill{
    margin-top: 26px;
}
.pane-pauta{
    text-align: left;
    border-left: 1px solid #F1EAE0;
    padding: 10px 20px;
    border-right: 1px solid #F1EAE0;
    border-bottom: 1px solid #F1EAE0;
}
.pane-pauta h1{
    font-size: 28px;
    text-align: left;
    color: #2f6aa5;
}
.pane-pauta h5{
    font-size: 14px;
    font-weight: 600;
    color: #11508e;
}
.pane-pauta hr{
    border-color: #ebebeb;
}
.pane-pauta p{
    margin: 0 0 10px;
    font-size: 13px;
}
.persona-pauta{
    border: 1px solid #f1eae0;
    padding: 30px 15px;
    border-bottom-width: 2px;
    border-bottom-color: #cfd9db;
}
.persona-pauta strong{
    color: #11508e;
}
.persona-pauta h4{
    margin-top: 10px;
    margin-bottom: 8px;
    font-weight: 400;
    color: #11508e;
}
.persona-pauta p{
    margin: 0;
}
.pane-pauta ol{
    padding-left: 15px;
}
.pane-pauta span{
    font-weight: bold;
    font-size: 12px;
}
.note-editor.note-frame.fullscreen{
    margin: 0px;
}
.menu-fechado{
    width: 0px !important;
}
.logo-normal img{
    width: 130px;
    margin-left: -5px;
}
.menu-engrenagem li.sub-title{
    padding: 10px 15px;
    color: #94908c;
}
.menu-engrenagem hr{
    margin: 0px;
}
.block{
    display: block !important;
}
.no-border{
    border-radius: 3px !important;
}
.lista-projetos img{

width: 350px;

margin: 0 auto;

display: table;

margin-top: 30px;
}
.lista-projetos h1{
    text-align: center;
    font-size: 2.6em;
}
.lista-projetos p{
    font-size: 1em;
    margin: 20px 0px 35px 0px;
}
.lista-projetos ul{
    list-style-type: none;
    padding: 0;
}
.lista-projetos li{
    padding: 15px;
    border-bottom: 1px solid;
    font-size: 1.3em;
    border-radius: 2px;
    cursor: pointer;
}
.lista-projetos a{
    color: #66615b;
}
.lista-projetos li i{
float: right;
margin-top: 5px;
}
.lista-projetos li.active,
.lista-projetos li:hover
{
    background-color: #96c;
    color: white;
}
.lista-projetos li.active a,
.lista-projetos li:hover a{
    color: #fff;
}
.card-membro i{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.5em;
    color: #eb5e28;
    cursor: pointer;
}
.card-chat input.textarea {
    width: calc(100% - 53px) !important;
}
.card-chat .btn {
    padding: 7px 11px;
}
.card-chat .send-message .send-button{
    width: 30px;
}
.fill-up{
    width: 100%;
}